@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppinx',sans-serif;
}

.container{
    padding: 0 200px;
}

.navbar{
    background-color: black;
    height: 10vh;
    padding-top: 10px;
}

.nav-title a{
    color: aliceblue;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

.nav-subtitle a{
    color: aliceblue;
    font-size: 17.5px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
}
.nav-subtitle a:hover{
    color: aqua;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 80px 200px 40px 200px;
    align-items: center;
}

.form label{
    color: #371B58;
    font-size: 40px;
    font-weight: 700;
    
    margin-bottom: 10px;
}

.form input{
    font-size: 17.5px;
    font-weight: 300;
    width: 100%;
    border-radius: 10px;
    border: 0.5px solid #1A1A40;
    margin-bottom: 20px;
    padding: 10px 15px;
}

.form button{
    color: #fff;
    background-color: #7A0BC0;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 100;
    width: 200px;
    padding: 5px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor:pointer;
}


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
}

.footer p{
    text-align: center;
    color: aliceblue;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0;
}

.botaurl{
    display: inline-flex;
}

.botaurl h2{
    color: #F66B0E;
    font-size: 35px;
    font-weight: 700;
}

.botaurl p{
    display: block;
    background-color: #EFEFEF;
    color: #112B3C;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    margin-left: 20px;
}